<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
    .action_btn {
width: 200px;
margin: 0 auto;
display: inline;}
  .buttons {
width: 200px;
margin: 0 auto;
display: inline;}


table.scrollTable {
  border: 1px solid #963;
  width: 1138px;
  //table-layout:auto;
}

thead.fixedHeader {
  display: block;
}

thead.fixedHeader tr {
  height: 30px;
  background: #c96;
}

thead.fixedHeader tr th {
  border-right: 1px solid black;
}

tbody.scrollContent {
  display: block;
  height: 300px;
  overflow: auto;
}

tbody.scrollContent td {
  background: #eee;
  border-right: 1px solid black;
  height: 25px;
}

tbody.scrollContent tr.alternateRow td {
  background: #fff;
}

thead.fixedHeader th {
  width: 160px;
}

thead.fixedHeader th:last-child {
  width: 178px;
}

tbody.scrollContent td {
  width: 159px;
}


.loaderclass {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

div.disabled 
{ 
    pointer-events: none; 
    -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; 
    user-select: none;    
    opacity: 0.2   ;   
    /*animation: loading 1s linear infinite;*/
}
div.disabled *:focus 
{
 outline: 0; 
}
body.disabled 
{ 
    pointer-events: none; 
    -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; 
    user-select: none;    
    opacity: 0.2   ;   
    /*animation: loading 1s linear infinite;*/
}
body.disabled *:focus 
{
 outline: 0; 
}
dialog.disabled 
{ 
    pointer-events: none; 
    -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; 
    user-select: none;    
    opacity: 0.2   ;   
    /*animation: loading 1s linear infinite;*/
}
dialog.disabled *:focus 
{
 outline: 0; 
}

/*  table {
  border-collapse: collapse;
    font-family: Tahoma, Geneva, sans-serif;
}
table td {
  padding: 15px;
}
table thead td {
  background-color: #54585d;
  color: #ffffff;
  font-weight: bold;
  font-size: 13px;
  border: 1px solid #54585d;
}
table tbody td {
  color: #636363;
  border: 1px solid #dddfe1;
}
table tbody tr {
  background-color: #f9fafb;
}*/
body {font-family: Arial, Helvetica, sans-serif;}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */

}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}
.cancelbtn {
  //width: auto;
 // padding: 10px 18px;
  background-color: #f44336;
}
/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}
.boxview {
    width: 100%;
    height: 50%;
    border: solid red 3px;
    background-color: rgba(0, 0, 0, 0.97);
  }
</style>
</head>
<body id="LogInBodyID">
  <dialog id="dialog" class="boxview">
<form class="modal-content animate" action="submit_login_form" method="dialog" id="form2" style="width:50%">
    <div id="loaderDialog" class="loaderclass"></div>
    <div class="imgcontainer">
      <!-- <h2>Single Day Time Entry</h2> -->
<!--       <span onclick="document.getElementById('id02').style.display='none'" class="close" title="Single Day Time Entryy">&times;</span> -->
    </div>
    <div class="imgcontainer">
      <!-- <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span> -->
<!--       <img src="/static/img_avatar2.png" alt="Avatar" class="avatar"> -->
    </div>

    <div class="container" style="border: 0px solid red;">
      <label id="employeesdropdownlabel" for="cars" style="border: 0px solid red;display: inline-block;width: 150px;text-align: right;"><b>Employee Name</b></label>
      <select name="employees" id="employees" onchange="employeeChange(this.value);">
<!--         <option value="volvo">Volvo</option>
        <option value="saab">Saab</option>
        <option value="opel">Opel</option>
        <option value="audi">Audi</option> -->
      </select>
      <label for="employeeid" style="border: 0px solid red;display: inline-block;width: 150px;text-align: right;"><b>Employee ID</b></label>
      <input type="text" id="employeedidinput" placeholder="Enter Employee ID" name="employeeid" required style="width:100px;height:15px;" readonly><br><br>
      <input type="text" id="idtimeentryid" placeholder="Enter idtimeentry" name="idtimeentry" required style="width:100px;height:15px;display:none" readonly><br><br>
      <input type="text" id="isNewModeid" placeholder="Enter is New Mode" name="isnewmode" required style="width:100px;height:15px;display:none" readonly><br><br>
      
     
      <label style="border: 0px solid red;display: inline-block;width: 150px;text-align: right;" for="SelectWorkingDay" ><b>Select Working Day</b></label>
       <input type="date" id="workingday" name="workingday" style="width:100px" onchange="workingdaychange(this.value);"><br><br><br>

      

      <label for="SelectStartTime" style="border: 0px solid red;display: inline-block;width: 150px;text-align: right;" ><b>Select Start Time</b></label>
      <input type="time" id="starttime" name="starttime" style="width:100px" ><br><br><br>

      <label for="SelectEndTime" style="border: 0px solid red;display: inline-block;width: 150px;text-align: right;"><b>Select End Time</b></label>
      <input type="time" id="endtime" name="endtime" style="width:100px"><br><br><br>



        
      <button type="button" style="width:100px" onclick="RecordEditOfTimeEntry(this)" >Submit</button>
      <button type="button" style="width:100px" onclick='document.getElementById("dialog").close()' class="cancelbtnx">Cancel</button>
<!--       <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label> -->
    </div>

    <div class="container" style="background-color:#f1f1f1">
      <!-- <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button> -->
<!--       <button type="button" onclick="setAction(this)" class="cancelbtn">test</button> -->
<!--       <span class="psw">Forgot <a href="#">password?</a></span> -->
    </div>
  </form>
</dialog>
<div id="loader" class="loaderclass"></div>
<!-- <h2>Modal Login Form</h2> -->

<div id="downloadbuttonid" class="disabled">
  <button type="button"  onclick="AddNewTimeEntry(this)" style="width:150px">New Time Entry</button>
  <button type="button"  onclick="downloadFile(this)" style="width:150px">Download Results</button>
  <button id="emailresultsid" type="button"  onclick="HistoricalTimeEntry(this)" style="width:150px">Email</button>


</div>
<div id="newrecordid" class="">
  

</div>
<div id='historicaldataid'>

<!-- <table>
  <thead>
    <tr>
      <td>Name</td>
      <td>Gender</td>
      <td>Age</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>David</td>
      <td>Male</td>
      <td>23</td>
    </tr>
    <tr>
      <td>Jessica</td>
      <td>Female</td>
      <td>47</td>
    </tr>
    <tr>
      <td>Warren</td>
      <td>Male</td>
      <td>12</td>
    </tr>
  </tbody>
</table> -->


</div>
<button onclick="document.getElementById('id01').style.display='block'" style="width:auto;display:none">Login</button>

<div id="id01" class="modal">
  
  <form class="modal-content animate" action="submit_login_form" method="post" id="form1">
    <div class="imgcontainer">
      <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
      <img src="/static/img_avatar2.png" alt="Avatar" class="avatar">
    </div>

    <div class="container">
      <label for="uname"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="uname" required>

      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>
        
      <button type="button"  onclick="setAction(this)">Login</button>
      <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>
    </div>

    <div class="container" style="background-color:#f1f1f1">
      <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
<!--       <button type="button" onclick="setAction(this)" class="cancelbtn">test</button> -->
      <span class="psw">Forgot <a href="#">password?</a></span>
    </div>
  </form>
</div>

<script>
// Get the modal
  // document.getElementById('id01').style.display='block'
   var ACTIVITY_ARRAY;
  function validateForFetchingHistoricals(fromdate,todate)
  {
    ret={

    }
    var isValid=true;
    var msg;
      if (fromdate=='')
      {
        isValid=false;
        msg="Please make sure to specify 'From date'"

      }
      else if (todate=='')
      {
        isValid=false;
        msg="Please make sure to specify 'To Date'"
      }
      else
      {
          if (!(isTime1GreaterTahnTime2(endtime,starttime)))
          {
            ret['isvalid']=false;
            ret['msg']="Please make sure that Ending Time is greater the Start Time";
            
          }
          else
          {
            ret['isvalid']=true;
            ret['msg']="Time entry is Valid";
          }
          return ret;
      }
  }
  function convertDateToString(date)
  {
    return date.toISOString().substring(0,10);
    // Get year, month, and day part from the date
    var year = date.toLocaleString("default", { year: "numeric" });
    var month = date.toLocaleString("default", { month: "2-digit" });
    var day = date.toLocaleString("default", { day: "2-digit" });

    // Generate yyyy-mm-dd date string
    var formattedDate = year + "-" + month + "-" + day;
    return formattedDate;
  }
function dateString2Date(dateString) {
  const dt = dateString.split(/\-|\s/);
  return new Date(dt.slice(0, 3).reverse().join('-') + ' ' + dt[3]);
}
  function HistoricalTimeEntry()
  {
        const queryString = window.location.search;
        // alert(queryString);
        console.log(queryString);
        const urlParams = new URLSearchParams(queryString);
        // uname_=urlParams.get('uname');
        fromdate=urlParams.get('fromdate');
        todate=urlParams.get('todate');
        employeeid=urlParams.get('employeeid');
        MODE=urlParams.get('MODE');
        // alert('employee id ='+employeeid);
        // alert('todate ='+todate);
        // alert('fromdate ='+fromdate);
        // return;

   // form=document.getElementById('form1')
    // const andSign = '&';
    // var employeeid=form.employeeid.value; 
    // var fromdate = form.fromdate.value;      
    // var todate = form.todate.value;
    // if (fromdate=='')
    // {
    //   fromdate='1970-01-01'
    // }
    // if (todate=='')
    // {
    //   todate='9999-12-31'
    // }
    fromdate_date=new Date(fromdate);
    todate_date=new Date(todate);
    // if (todate_date.getTime()<fromdate_date.getTime())
    // {
    //   alert("Please make sure from date is not greater than To date");
    //   return;
    // }
    fromdate_=convertDateToString(fromdate_date);
    todate_=convertDateToString(todate_date);
    //theelement=document.body.innerHTML;
    //theelement=window.parent.document.getElementById('contentpaneid');

        // alert('dealing with emailing');
        // alert('employee id ='+employeeid);
        // alert('todate ='+todate_);
        // alert('fromdate ='+fromdate_);
        // return;

     EmailHistoricaldata(fromdate_,todate_,employeeid) ;

          
  }
  function EmailHistoricaldata(fromdate,todate,employeeid) 
  {

    // form=document.getElementById('form1')
    const url = 'emailtimeentryrecords';
    // const andSign = '&';
   var cookiename="soapologyInSessionUserName";
    // var uname = getCookie(cookiename);  

    // const email = form.email.value;
    // const firstname = form.firstname.value;      
    // const lastname = form.lastname.value;
    // const newUrl = url+uname+andSign+psw;
    adata={
        // 'emailflag':'YES'

    }
    // if ((employeeid.length)>0)
    // {
      adata['employeeid']=employeeid;
    // }
    // else
    // {
    //   alert('Required field:Please specify employee to whom an email will be sent');
    //   return;
    // }
    // if ((fromdate.length)>0)
    // {
      adata['fromdate']=fromdate;
    // }
    // if ((todate.length)>0)
    // {
      adata['todate']=todate;
    //}

    
    
    payload=JSON.stringify(adata)
    fetch(
      url,
      {            
        headers: { "Content-Type": "application/json" },            
        method: "POST",
        body: payload
      }
    )
    .then(response => {
      // Check if the request was successful
      if (!response.ok) 
      {
        enableInteraction();
        throw new Error('Network response was not ok');
      }
      // Parse the response as JSON
      return response.json();
    })
    .then(data => {
        // Handle the JSON data
        console.log(data);
        if (data['success']==false)
        {
          enableInteraction();
          alert('Unable to login\n'+data['msg']) 
          if (data['msg']=='RelogginNeeded'){
            // window.location.href ='InitialLoginPageOnly.html'+ '?n=' + new Date().getTime(); ;
            Logout();
          }
          
        }
        else
        {
          alert('email sent to employee with id ' + employeeid +'!');
          // dictionaryToPopulate=data['data'];
          // ACTIVITY_ARRAY=dictionaryToPopulate;
          // newTable=returnNewTable(dictionaryToPopulate)
          // var hisotoricaldataelement = document.getElementById('historicaldataid');
          // removeAllChildElmenst(hisotoricaldataelement);
          // hisotoricaldataelement.appendChild(newTable);
          // enableInteraction();
          // hisotoricaldataelement.innerText=JSON.stringify(dictionaryToPopulate);
          //alert('Successful loging');
          //closeLoginForm();

        }
      }
    )
    .catch(error => {
      // Handle any errors that occurred during the fetch
      console.log('Fetch error:', error);
      enableInteraction();
    });
    return false;
  }
  function FormatTimeToorPM(atime)
  {
    if (atime==null)
    {
      return atime;
    }
    if (atime.length==0)
    {
      return atime;
    }
    if (atime=='None')
    {
      return atime;
    }
    var parts=atime.split(":");
    if ((parts[0].length)==1)
    {
        return '0'+ atime;
    }
    else
    {
      return atime;
    }
      var AMPM="AM";
      arr=atime.split(":")
      if (arr[0]>=12)
      {
          AMPM="PM";
          arr[0]=arr[0]-12;
          str1=''+ arr[0];
          if (str1.length==1)
          {
              arr[0]='0' + arr[0];
          }
      }
      ret=arr.join(":");
      ret=ret +' '+ AMPM;
      return ret;
  }
   function populateStartAndEndTime(endtime,starttime,empid,name,workingday,idtimeentry)
  {
      //alert('populating');

            form=document.getElementById('form2')
            form.workingday.value=form.workingday.value=workingday.substring(0,10);
             if (starttime!='None')
             {
                form.starttime.value=FormatTimeToorPM(starttime);
             }
             if (endtime!='None')
             {
               if (endtime!="0:00:00")
               {
                  form.endtime.value=FormatTimeToorPM(endtime);     
               }
             }
             var element = document.getElementById("employeedidinput");
             element.value=empid;
            idtimeentryElement = document.getElementById("idtimeentryid");
            idtimeentryElement.value=record.idtimeentry;               
         
  }

   function disablenteraction() 
  {
    var element = document.getElementById("downloadbuttonid");
    element.classList.add("disabled");
    var element = document.getElementById("loader");
    element.classList.add("loaderclass");


   } 
     function enableInteraction() 
  {
    var element = document.getElementById("downloadbuttonid");
    element.classList.remove("disabled");
    var element = document.getElementById("loader");
    element.classList.remove("loaderclass");


   }
   function disablenteractionDialog() 
  {
    var element = document.getElementById("dialog");
    element.classList.add("disabled");
    var element = document.getElementById("loaderDialog");
    element.classList.add("loaderclass");


   } 
  function enableInteractionDialog() 
  {
    var element = document.getElementById("dialog");
    element.classList.remove("disabled");
    var element = document.getElementById("loaderDialog");
    element.classList.remove("loaderclass");


   }
   
  PopulateHistoricalDataWrapper();
  function  PopulateHistoricalDataWrapper()
  {
        const queryString = window.location.search;
        // alert(queryString);
        console.log(queryString);
        const urlParams = new URLSearchParams(queryString);
        uname_=urlParams.get('uname');
        fromdate_=urlParams.get('fromdate');
        todate_=urlParams.get('todate');
        employeeid=urlParams.get('employeeid');
        MODE=urlParams.get('MODE');
       // var cookiename="soapologyInSessionUserName";
       // var uname = getCookie(cookiename); 

      if (!(MODE=='query'))
      {
          document.getElementById('downloadbuttonid').style.display='none';
      }
      else
      {
        document.getElementById('downloadbuttonid').style.display='block';
      }
      if (employeeid=='')
      {
          document.getElementById('emailresultsid').style.display='none';
      }
      else
      {
          document.getElementById('emailresultsid').style.display='none-block';
      }
      PopulateHistoricalData(fromdate_,todate_,employeeid);
  }
  var modal = document.getElementById('id01');

  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function(event) {
      if (event.target == modal) {
          //modal.style.display = "none";
      }
  }
  function closeLoginForm(){
      document.getElementById('id01').style.display='none';
    }
    function getCookie(name) {
      var dc = document.cookie;
      var prefix = name + "=";
      var begin = dc.indexOf("; " + prefix);
      if (begin == -1) {
          begin = dc.indexOf(prefix);
          if (begin != 0) return null;
          end=dc.indexOf(";")
      }
      else
      {
          begin += 2;
          var end = document.cookie.indexOf(";", begin);
          if (end == -1) {
          end = dc.length;
          }
      }
      // because unescape has been deprecated, replaced with decodeURI
      //return unescape(dc.substring(begin + prefix.length, end));
      return decodeURI(dc.substring(begin + prefix.length, end));
  } 

  function UpdateInSessionStateIfApplicable() {
      var cookiename="soapologyUnameOnly";//"soapologyInSessionUserName";
      var myCookie = getCookie(cookiename);

      if (myCookie == null) 
      {
          // do cookie doesn't exist stuff;
          //alert(cookiename + ' was not found')
      }
      else {
          // do cookie exists stuff
          //alert(cookiename + ' was found');
          var loggedInUserIdElement = window.parent.document.getElementById('loggedInUserId');
          loggedInUserIdElement.innerHTML=myCookie;
          var loggedInUserIdElementParent = window.parent.document.getElementById('loggedInUserIdParent');
          loggedInUserIdElementParent.style.display="block"

          
      }
  }

  function removeAllChildElmenst(aNode)
  {
    while (aNode.lastElementChild)
    {
      aNode.removeChild(aNode.lastElementChild);
    }
  }   
  function roundNum(number){
   return +(Math.round(number + "e+2") + "e-2");
}
  function ReturnNumberOfHoursWith2DecimalsPoiint(hours_worked)
  {
    ret=hours_worked.toString();

    try
    {
      var arr=ret.split(':');
      temp=(arr[0])*1+(arr[1])/60+(arr[2])/3600;
      ret=roundNum(temp);
    }
    catch(err) 
    {
      
    }
    return ret;
  }
  
  function returnNewTable(players)
 {
    const newTable = document.createElement("table");
    newTable.setAttribute("cellpadding", "0");
    newTable.setAttribute("cellspacing", "0");
    newTable.classList.add("scrollTable");
    // newTable.innerHTML = "<thead class='fixedHeader'><tr class='alternateRow'><td>Employee ID</td><td>Name</td><td>Date</td><td>Start</td><td>End</td><td>Hrs Worked</td></tr></thead>";
        newTable.innerHTML = "<thead class='fixedHeader'><tr class='alternateRow'><th>Employee ID</th><th>Name</th><th>Date</th><th>Start</th><th>End</th><th>Hrs Worked</th><th>Action</th></tr></thead>";
    newtBody = document.createElement("tbody");
   newtBody.classList.add("scrollContent");
    i=-1;
    for(player of players){
        i=i+1;
        const newRow = document.createElement("tr");
        if (i%2==0)
        {
          newRow.classList.add("normalRow");
        }
        else
        {
          newRow.classList.add("alternateRow");
        }
        actionHTML='<div class="buttons">'+

            '<div class="action_btn">'+

            '<button name="submit" class="action_btn submit" type="submit" value="Save" onclick="myFunction()">Save</button>'+
            '<button name="submit" class="action_btn cancel" type="submit" value="Cancel" onclick="myFunction2()">Cancel</button>'+

            // '<p id="saved"></p>'+

            '</div>'+

        '</div>';
        
        
         const tdemployeeID = document.createElement("td");
        const tdUname = document.createElement("td");
        const tdDate = document.createElement("td");
        const tdStart = document.createElement("td");
        const tdEnd = document.createElement("td");
        const tdHoursWorked = document.createElement("td");
        const tdAction = document.createElement("td");
        //const tdCreated = document.createElement("td");
        console.log(player);
        idtimeentry=player.idtimeentry;
        tdemployeeID.textContent = player.employeeid;
        tdUname.textContent = player.name;
        tdDate.textContent = player.start_date.substr(0, 10);;
        tdStart.textContent = player.start_time;  
        tdEnd.textContent = player.end_time;
        tdHoursWorked.textContent = ReturnNumberOfHoursWith2DecimalsPoiint(player.hours_worked); 
        onclicktext="onclick=\"DeleteFunc(" + idtimeentry + ")\"";
        onclickEdittext="onclick=\"EditFunc(" + idtimeentry + ")\"";
        tdAction.innerHTML="<div>" +
        "<button " +onclicktext+  " style='width:60px;height:10px;background-color:grey;font-size:8px;display:inline;margin: 0 5px 0 5px;padding: 1px 0 1px 0;border: 1px solid #963'>Delete</button>"+
        "<button " +onclickEdittext+ " style='width:60px;height:10px;background-color:grey;font-size:8px;display:inline;margin: 0 5px 0 5px;padding: 1px 0 1px 0;border: 1px solid #963'>Edit</button>"+
        "</div>";//actionHTML;
        //tdCreated.textContent = player.created;

        newRow.appendChild(tdemployeeID);
        newRow.appendChild(tdUname);
        newRow.appendChild(tdDate);
        newRow.appendChild(tdStart);
        newRow.appendChild(tdEnd);
        newRow.appendChild(tdHoursWorked);
        newRow.appendChild(tdAction);
        //newRow.appendChild(tdCreated);
        


        newtBody.appendChild(newRow);
    }
    newTable.appendChild(newtBody);
    return newTable;
    // const target = document.getElementById('target');
    // target.appendChild(newTable);
 }
  function populateAllEmployyes()
  {
    disablenteractionDialog();
    form=document.getElementById('form2')
    const url = 'returnlistofallemployees';
    // const andSign = '&';
    // const employeeid=form.employeeid.value;   
    // const workingday = form.workingday.value;      
    // const starttime = form.starttime.value;
    // const endtime = form.endtime.value;
    // var cookiename="soapologyInSessionUserName";
    // // var uname = getCookie(cookiename);
    // validationResult=validateParamsForTimeEntry(workingday,starttime,endtime);
    // if (validationResult['isvalid']==false)
    // {
    //   alert(validationResult['msg']);
    //   return;
    // }
    // const email = form.email.value;
    // const firstname = form.firstname.value;      
    // const lastname = form.lastname.value;
    // const newUrl = url+uname+andSign+psw;
    adata={
      // 'employeeid':employeeid,
      // 'workingday':workingday,
      // 'starttime':starttime,
      // 'endtime':endtime

    }
    payload=JSON.stringify(adata)
    fetch(
      url,
      {            
        headers: { "Content-Type": "application/json" },            
        method: "POST",
        body: payload
      }
    )
    .then(response => {
      // Check if the request was successful
      if (!response.ok) 
      {
        enableInteractionDialog();
        throw new Error('Network response was not ok');
      }
      // Parse the response as JSON
      return response.json();
    })
    .then(data => 
    {
        // Handle the JSON data
        
        console.log(data);
        if (data['success']==false)
        {
          enableInteractionDialog();
          alert('Unable to fetch all employees\n'+data['msg'])
          if (data['msg']=="RelogginNeeded")
          {
            Logout()
          }
        }
        else
        {
          a=1;
          // alert('Successful time logging for username ' + uname + ' for ' + workingday );
          // closeLoginForm();
          //UpdateInSessionStateIfApplicable();
          enableInteractionDialog();
          populateDropDownListOfEmployyes(data['data']);
        }
      }
    )
    .catch(error => {
      // Handle any errors that occurred during the fetch
      enableInteractionDialog();
      console.log('Fetch error:', error);
    });
    return false;
  }
 function populateDropDownListOfEmployyes(arrayOfObjects)
  {
    var select = document.getElementById("employees");
    var options=arrayOfObjects;
    options.unshift({'name':'select employee','employeeid':''});
    // var options = ["1", "2", "3", "4", "5"];
    options
    for(var i = 0; i < options.length; i++) {
        var opt = options[i];
        var el = document.createElement("option");
        el.textContent = opt['name'];
        el.value =  opt['employeeid'];
        el.setAttribute('employeeid', opt['employeeid']);
        select.appendChild(el);
    }
  }
 function AddNewTimeEntry()
 {
  const dialog = document.getElementById("dialog");
  // const openDialog = document.getElementById("openDialog");
  //   openDialog.addEventListener("click", () => {
  //     dialog.showModal();
  //     openCheck(dialog);
  //   });
  dialog.showModal();
  // res=returnActivityPerGiveidTimeEntry(idtimeentry);
  // record=res[0];
  // endtime=record.end_time;  
  // starttime=record.start_time;  
  // empid=record.employeeid; 
  // name='';//record.name;
  // workingday=record.start_date;
  // idtimeentry='';//record.idtimeentry;


  employeeidDropDown = document.getElementById("employees");
  employeeidDropDown.style.display="inline-block";
  employeeidDropDownlabel = document.getElementById("employeesdropdownlabel");
  employeeidDropDownlabel.style.display="inline-block";
 
  workingDayElement = document.getElementById("workingday");
  workingDayElement.readOnly = false ;

  isNewModeElement = document.getElementById("isNewModeid");
  isNewModeElement.value=true;

  populateAllEmployyes();
  

 }
function returnActivityPerGiveidTimeEntry(idtimeentry)
{
  afunc=function IsidTimeEntryFound (entry)
  {
    return entry['idtimeentry']==idtimeentry;
  }
  var result = ACTIVITY_ARRAY.filter(afunc);
  return result;
}
  function convertTimeToseconds(atime)
  {
    var time = atime;
    var array = time.split(":");
    var seconds = (parseInt(array[0], 10) * 60 * 60) + (parseInt(array[1], 10) * 60) + 0;
    return seconds;

  }
  function isTime1GreaterTahnTime2(time1,time2)
  {
      time1inseconds=convertTimeToseconds(time1);
      time2inseconds=convertTimeToseconds(time2);
      return time1inseconds>time2inseconds;

  }
function validateParamsForTimeEntry(workingday,starttime,endtime)
  {
    ret={

    }
    var isValid=true;
    var msg;
      if (workingday=='')
      {
        isValid=false;
        msg="Please make sure to specify 'working Day'"

      }
      else if (starttime=='')
      {
        isValid=false;
        msg="Please make sure to specify 'Start Time'"
      }
      else if (endtime=='')
      {
         isValid=false;
        msg="Please make sure to specify 'End Time'"
      }
      if (isValid==false)
      {
          ret['isvalid']=isValid;
          ret['msg']=msg;
          return ret;
      }
      else
      {
          if (!(isTime1GreaterTahnTime2(endtime,starttime)))
          {
            ret['isvalid']=false;
            ret['msg']="Please make sure that Ending Time is greater the Start Time";
            
          }
          else
          {
            ret['isvalid']=true;
            ret['msg']="Time entry is Valid";
          }
          return ret;
      }
  }
function RecordNewItemThroughWebService(ABUTTON) 
  {
    form=document.getElementById('form2')
    const url = 'recordsingledaytimehours';
    // const andSign = '&';
    const employeeid=form.employeeid.value;   
    const workingday = form.workingday.value;      
    const starttime = form.starttime.value;
    const endtime = form.endtime.value;
    var cookiename="soapologyInSessionUserName";
    // var uname = getCookie(cookiename);
    validationResult=validateParamsForTimeEntry(workingday,starttime,endtime);
    if (validationResult['isvalid']==false)
    {
      alert(validationResult['msg']);
      return;
    }
    // const email = form.email.value;
    // const firstname = form.firstname.value;      
    // const lastname = form.lastname.value;
    // const newUrl = url+uname+andSign+psw;
    disablenteractionDialog();
    adata={
      'employeeid':employeeid,
      'workingday':workingday,
      'starttime':starttime,
      'endtime':endtime

    }
    payload=JSON.stringify(adata)
    fetch(
      url,
      {            
        headers: { "Content-Type": "application/json" },            
        method: "POST",
        body: payload
      }
    )
    .then(response => {
      // Check if the request was successful
      if (!response.ok) 
      {
        enableInteractionDialog();
        throw new Error('Network response was not ok');
      }
      // Parse the response as JSON
      return response.json();
    })
    .then(data => {
        // Handle the JSON data
        
        console.log(data);
        if (data['success']==false)
        {
          enableInteractionDialog();
          alert('Unable to update time for employee\n'+data['msg']);
          if (data['msg']=="RelogginNeeded")
          {
            Logout()
          }
        }
        else
        {
          enableInteractionDialog();

          setTimeout(() => {
              console.log("Delayed for 1 second.");
              alert('Successful time logging for employee ' + employeeid + ' for ' + workingday );
              //closeLoginForm(); 
              document.getElementById("dialog").close();
              location.reload();
          }, "1000");

          //UpdateInSessionStateIfApplicable();
        }
      }
    )
    .catch(error => {
      // Handle any errors that occurred during the fetch
      enableInteractionDialog();
      console.log('Fetch error:', error);
    });
    return false;
  }
  function employeeChange(avalue)
  {
    employeedidinput=document.getElementById('employeedidinput');
    employeedidinput.value=avalue;
    // alert(avalue);
  }
function RecordEditOfTimeEntry(ABUTTON) 
  {
    if ((document.getElementById("isNewModeid").value+'')=='true')
    {
      RecordNewItemThroughWebService();
      return;
    }
    form=document.getElementById('form2')
    const url = 'updatetimeentry';
    // const andSign = '&';
    const employeeid=form.employeeid.value;   
    const workingday = form.workingday.value;      
    const starttime = form.starttime.value;
    const endtime = form.endtime.value;
    const idtimeentry = form.idtimeentry.value;
    //var cookiename="soapologyInSessionUserName";
    // var uname = getCookie(cookiename);
    validationResult=validateParamsForTimeEntry(workingday,starttime,endtime);
    if (validationResult['isvalid']==false)
    {
      alert(validationResult['msg']);
      return;
    }
    // const email = form.email.value;
    // const firstname = form.firstname.value;      
    // const lastname = form.lastname.value;
    // const newUrl = url+uname+andSign+psw;
    disablenteractionDialog();
    adata={
      'idtimeentry':idtimeentry,
      'starttime':starttime,
      'endtime':endtime

    }
    payload=JSON.stringify(adata)
    fetch(
      url,
      {            
        headers: { "Content-Type": "application/json" },            
        method: "POST",
        body: payload
      }
    )
    .then(response => {
      // Check if the request was successful
      if (!response.ok) 
      {
        enableInteractionDialog();
        throw new Error('Network response was not ok');
      }
      // Parse the response as JSON
      return response.json();
    })
    .then(data => {
        // Handle the JSON data
        
        console.log(data);
        if (data['success']==false)
        {
          enableInteractionDialog();
          alert('Unable to update time for employee\n'+data['msg']);
          if (data['msg']=="RelogginNeeded")
          {
            Logout()
          }
        }
        else
        {
          enableInteractionDialog();
          setTimeout(() => {
              console.log("Delayed for 1 second.");
              alert('Successful time logging for username ' + employeeid + ' for ' + workingday );
              //closeLoginForm(); 
              document.getElementById("dialog").close();
              location.reload();
          }, "1000");

          //UpdateInSessionStateIfApplicable();
        }
      }
    )
    .catch(error => {
      // Handle any errors that occurred during the fetch
      enableInteractionDialog();
      console.log('Fetch error:', error);
    });
    return false;
  }
  
function EditFunc(idtimeentry)
{
 enableInteractionDialog();
  const dialog = document.getElementById("dialog");
  // const openDialog = document.getElementById("openDialog");
  //   openDialog.addEventListener("click", () => {
  //     dialog.showModal();
  //     openCheck(dialog);
  //   });
  dialog.showModal();
  res=returnActivityPerGiveidTimeEntry(idtimeentry);
  record=res[0];
  endtime=record.end_time;  
  starttime=record.start_time;  
  empid=record.employeeid; 
  name=record.name;
  workingday=record.start_date;
  idtimeentry=record.idtimeentry;
  employeeidDropDown = document.getElementById("employees");
  employeeidDropDown.style.display="none";
  employeeidDropDownlabel = document.getElementById("employeesdropdownlabel");
  employeeidDropDownlabel.style.display="none";
 
  workingDayElement = document.getElementById("workingday");
  workingDayElement.readOnly = true; 
  isNewModeElement = document.getElementById("isNewModeid");
  isNewModeElement.value=false;
  
  populateStartAndEndTime(endtime,starttime,empid,name,workingday,idtimeentry);
}
function CreateStringForTimeEntry(timeentryObj)
{
        empid = timeentryObj.employeeid;
        name = timeentryObj.name;
        aDate = timeentryObj.start_date.substr(0, 10);;
        Start = timeentryObj.start_time;  
        End = timeentryObj.end_time;
        var stringToDisplay="You are about to remove a time entry record for employee id "+ empid + " corersponding to "+aDate + " with start and end time of "+ Start + " and "+ End+ ", repectively.\nPlease press OK to continue, Cancel to abort" ;
        return stringToDisplay;
}
function DeleteFunc(idtimeentry)
{
   form=document.getElementById('form1')
    const url = 'deletetimeentry';
    // const andSign = '&';
   //var cookiename="soapologyInSessionUserName";
    // var uname = getCookie(cookiename);  

    // const email = form.email.value;
    // const firstname = form.firstname.value;      
    // const lastname = form.lastname.value;
    // const newUrl = url+uname+andSign+psw;
    var singleItemArray=returnActivityPerGiveidTimeEntry(idtimeentry);
    var singleitem=singleItemArray[0];
    var stringForConfirmation=CreateStringForTimeEntry(singleitem);
    if (confirm(stringForConfirmation)==false)
    {
      return;
    }
    adata={
        'idtimeentry':idtimeentry

    }
    payload=JSON.stringify(adata);
    disablenteraction();
    fetch(
      url,
      {            
        headers: { "Content-Type": "application/json" },            
        method: "POST",
        body: payload
      }
    )
    .then(response => {
      // Check if the request was successful
      if (!response.ok) 
      {
        enableInteraction();
        throw new Error('Network response was not ok');
      }
      // Parse the response as JSON
      return response.json();
    })
    .then(data => {
        // Handle the JSON data
        console.log(data);
        if (data['success']==false)
        {
          enableInteraction();
          alert('Unable to login\n'+data['msg']) 
          if (data['msg']=='RelogginNeeded'){
            // window.location.href ='InitialLoginPageOnly.html'+ '?n=' + new Date().getTime(); ;
            Logout();
          }
          
        }
        else
        {
          enableInteraction();
          alert('entry with id '+ idtimeentry + ' has been deleted');
          location.reload();
          // hisotoricaldataelement.innerText=JSON.stringify(dictionaryToPopulate);
          //alert('Successful loging');
          //closeLoginForm();

        }
      }
    )
    .catch(error => {
      // Handle any errors that occurred during the fetch
      console.log('Fetch error:', error);
      enableInteraction();
    });
    return false;

}

    function downloadFile() 
  {

      const queryString = window.location.search;
      // alert(queryString);
      console.log(queryString);
      const urlParams = new URLSearchParams(queryString);
      uname=urlParams.get('uname');
      fromdate=urlParams.get('fromdate');
      todate=urlParams.get('todate');
      finalurl="downloadtimeentryfile?"+ "fromdate="+ fromdate+ "&" + "todate="+todate+ "&" + "uname="+uname
      window.open(finalurl, '_blank');
      return

    form=document.getElementById('form1')
    const url = 'downloadtimeentryfile';
    // const andSign = '&';
    // var cookiename="soapologyInSessionUserName";
    // var uname = getCookie(cookiename);  

    // const email = form.email.value;
    // const firstname = form.firstname.value;      
    // const lastname = form.lastname.value;
    // const newUrl = url+uname+andSign+psw;
    adata={


    }
    if ((uname.length)>0)
    {
      adata['uname']=uname;
    }
    if ((fromdate.length)>0)
    {
      adata['fromdate']=fromdate;
    }
    if ((todate.length)>0)
    {
      adata['todate']=todate;
    }
    payload=JSON.stringify(adata)
    fetch(
      url,
      {            
        headers: { "Content-Type": "application/json" },            
        method: "POST",
        body: payload
      }
    )
    .then(response => {
      // Check if the request was successful
      if (!response.ok) 
      {
        throw new Error('Network response was not ok');
      }
      // Parse the response as JSON
      return response.json();
    })
    .then(data => 
    {
        // // Handle the JSON data
        // console.log(data);
        // if (data['success']==false)
        // {
        //   alert('Unable to login\n'+data['msg']) 
        //   if (data['msg']=='RelogginNeeded'){
        //     // window.location.href ='InitialLoginPageOnly.html'+ '?n=' + new Date().getTime(); ;
        //     Logout();
        //   }
          
        // }
        // else
        // {

        //     alert('file was downloaded');

        // }
        alert('file was downloaded');
      }
    )
    .catch(error => {
      // Handle any errors that occurred during the fetch
      console.error('Fetch error:', error);
    });
    return false;
  }
   function downloadFile_bkup() 
  {

      const queryString = window.location.search;
      // alert(queryString);
      console.log(queryString);
      const urlParams = new URLSearchParams(queryString);
      uname=urlParams.get('uname');
      fromdate=urlParams.get('fromdate');
      todate=urlParams.get('todate');


    form=document.getElementById('form1')
    const url = 'downloadtimeentryfile';
    // const andSign = '&';
    // var cookiename="soapologyInSessionUserName";
    // var uname = getCookie(cookiename);  

    // const email = form.email.value;
    // const firstname = form.firstname.value;      
    // const lastname = form.lastname.value;
    // const newUrl = url+uname+andSign+psw;
    adata={


    }
    if ((uname.length)>0)
    {
      adata['uname']=uname;
    }
    if ((fromdate.length)>0)
    {
      adata['fromdate']=fromdate;
    }
    if ((todate.length)>0)
    {
      adata['todate']=todate;
    }
    payload=JSON.stringify(adata)
    fetch(
      url,
      {            
        headers: { "Content-Type": "application/json" },            
        method: "POST",
        body: payload
      }
    )
    .then(response => {
      // Check if the request was successful
      if (!response.ok) 
      {
        throw new Error('Network response was not ok');
      }
      // Parse the response as JSON
      return response.json();
    })
    .then(data => {
        // Handle the JSON data
        console.log(data);
        if (data['success']==false)
        {
          alert('Unable to login\n'+data['msg']) 
          if (data['msg']=='RelogginNeeded'){
            // window.location.href ='InitialLoginPageOnly.html'+ '?n=' + new Date().getTime(); ;
            Logout();
          }
          
        }
        else
        {

            alert('file was downloaded');

        }
      }
    )
    .catch(error => {
      // Handle any errors that occurred during the fetch
      console.error('Fetch error:', error);
    });
    return false;
  }

  function PopulateHistoricalData(fromdate,todate,employeeid) 
  {

    form=document.getElementById('form1')
    const url = 'gethistoricaltimeentry';
    // const andSign = '&';
   var cookiename="soapologyInSessionUserName";
    // var uname = getCookie(cookiename);  

    // const email = form.email.value;
    // const firstname = form.firstname.value;      
    // const lastname = form.lastname.value;
    // const newUrl = url+uname+andSign+psw;
    adata={

        'emailflag':'NO'
    }
    if ((employeeid.length)>0)
    {
      adata['employeeid']=employeeid;
    }
    if ((fromdate.length)>0)
    {
      adata['fromdate']=fromdate;
    }
    if ((todate.length)>0)
    {
      adata['todate']=todate;
    }
    payload=JSON.stringify(adata)
    fetch(
      url,
      {            
        headers: { "Content-Type": "application/json" },            
        method: "POST",
        body: payload
      }
    )
    .then(response => {
      // Check if the request was successful
      if (!response.ok) 
      {
        enableInteraction();
        throw new Error('Network response was not ok');
      }
      // Parse the response as JSON
      return response.json();
    })
    .then(data => {
        // Handle the JSON data
        console.log(data);
        if (data['success']==false)
        {
          enableInteraction();
          alert('Unable to login\n'+data['msg']) 
          if (data['msg']=='RelogginNeeded'){
            // window.location.href ='InitialLoginPageOnly.html'+ '?n=' + new Date().getTime(); ;
            Logout();
          }
          
        }
        else
        {
          dictionaryToPopulate=data['data'];
          ACTIVITY_ARRAY=dictionaryToPopulate;
          newTable=returnNewTable(dictionaryToPopulate)
          var hisotoricaldataelement = document.getElementById('historicaldataid');
          removeAllChildElmenst(hisotoricaldataelement);
          hisotoricaldataelement.appendChild(newTable);
          enableInteraction();
          // hisotoricaldataelement.innerText=JSON.stringify(dictionaryToPopulate);
          //alert('Successful loging');
          //closeLoginForm();

        }
      }
    )
    .catch(error => {
      // Handle any errors that occurred during the fetch
      console.log('Fetch error:', error);
      enableInteraction();
    });
    return false;
  }
    function delete_cookie(name) 
  {
    document.cookie = name +'=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
  }
    function Logout()
  {
      delete_cookie("soapologyInSessionUserName");

      window.parent.location.href = "InitialLoginPageOnly.html"+'?n=' + new Date().getTime();
      //window.location.assign("InitialLoginPageOnly.html");
      const myHeaders = new Headers();
        myRequest = new Request("displayInitialLogin", {
        method: "GET",
        headers: myHeaders
        // ,mode: "cors",
        // cache: "default",
      });
      //makeRequeestToInitilaLogin(myRequest)
  }
  function SayHi()
  {
    alert('Hi')
  }
  function setAction_old(ABUTTON) {
    form=document.getElementById('form1')
    const url = 'submit_login_form2';
    const andSign = '&';
    const uname = form.uname.value;      
    const psw = form.psw.value;
    const newUrl = url+uname+andSign+psw;
    adata={
      'uname':uname,
      'psw':psw
    }
    payload=JSON.stringify(adata)
    fetch(
      url,
      {            
          headers: { "Content-Type": "application/json" },            
          method: "POST",
          body: payload
      }
     )
    .then(data => data)//data.json()
    .then((json) => {
      alert(json);
      //document.getElementById("form").reset();     
    });
    return false;
  }

</script>

</body>
</html>
